# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce"

# NextAuth
NEXTAUTH_SECRET="supersecret123"
NEXTAUTH_URL="http://localhost:3000"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_xxx"
STRIPE_SECRET_KEY="sk_test_xxx"
